<!doctype html> 
<head>
    <title>Hello Sample</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head> 
<body>
    <div id='odd'>
    <h1>Hello World!</h1>  
    <p>Request URL: {{ request.url }}</p>  
    <p>User: {{ session.user }}</p>  
    <p>DB: {{ g.db }}</p>  
    <p>Host: {{ config.DEBUG }}</p>  
    <p>Current App is: {{ appname }}</p>  
    <p>Current Time is: {{ current_time() }}</p>  
    <p>Current Day is: {{ current_time("%Y-%m-%d") }}</p>    
    {% with messages = get_flashed_messages() %}  
    {% if messages %}   
    {% for message in messages %}    
    <li>Flash Message: {{ message }}</li>   
    {% endfor %}  
    {% endif %} 
    {% endwith %}
    {% autoescape true %}  
    <h1>Hello {{ name }}!</h1> 
    {% endautoescape %}
    </div>
</body> 

</html>